<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9f4e23b1-82f3-43b2-9ad7-910d38cffd75/resourcegroups/yc2211-spotifeest/providers/Microsoft.Web/sites/yc2211Aspotifeest</ResourceId>
    <ResourceGroup>yc2211-spotifeest</ResourceGroup>
    <ApiResourceId>/subscriptions/9f4e23b1-82f3-43b2-9ad7-910d38cffd75/resourceGroups/yc2211-spotifeest/providers/Microsoft.ApiManagement/service/Spotifeestapi/apis/yc2211ASpotifeestAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://yc2211aspotifeest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>fe6dfa33-c496-45d8-86b9-5b2a2efff67e</ProjectGuid>
    <MSDeployServiceURL>yc2211aspotifeest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>yc2211Aspotifeest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$yc2211Aspotifeest</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>